<article *ngIf="bigScreen; else smallScreen">
  <div class="p-grid">
    <figure class="p-col-4 flex-align-row-end">
      <img class="big-image p-col-fixed" src="{{ contact.pictureUrl }}" alt="Contact image" />
    </figure>
    <div class="p-col-5">
      <header>
        <div class="p-grid name-header">
          <div class="p-col-1">
            <fa-icon icon="arrow-left" [routerLink]="['/']" class="clickable"></fa-icon>
          </div>
          <div class="p-col-9 flex-align-row-start">
            {{ name }}
          </div>
          <div class="p-col-1">
            <fa-icon *ngIf="contact.favorite" [icon]="['fas', 'heart']" class="clickable" (click)="favorite()"></fa-icon>
            <fa-icon *ngIf="!contact.favorite" [icon]="['far', 'heart']" class="clickable" (click)="favorite()"></fa-icon>
          </div>
          <div class="p-col-1">
            <fa-icon icon="edit" class="clickable" (click)="editContact()"></fa-icon>
          </div>
        </div>
        <app-divider></app-divider>
      </header>
      <section class="p-grid">
        <div class="p-lg-4 p-lg-offset-1 flex-align-row-start">
          <app-label icon="envelope">email</app-label>
        </div>
        <span class="p-lg-6 email flex-align-row-start">{{ contact.email }}</span>
        <div class="p-lg-4 p-lg-offset-1 flex-align-row-start">
          <app-label icon="phone">numbers</app-label>
        </div>
        <div class="p-lg-6  flex-align-row-start">
          <app-phone-numbers [phoneNumbers]="contact.phoneNumbers"></app-phone-numbers>
        </div>
      </section>
    </div>
  </div>
</article>

<ng-template #smallScreen>
  <article>
    <header class="p-grid small-header">
      <div class="p-col-10">
        <fa-icon icon="arrow-left" [routerLink]="['/']" class="clickable"></fa-icon>
      </div>
      <div class="p-col-1">
        <fa-icon *ngIf="contact.favorite" [icon]="['fas', 'heart']" class="clickable" (click)="favorite()"></fa-icon>
        <fa-icon *ngIf="!contact.favorite" [icon]="['far', 'heart']" class="clickable" (click)="favorite()"></fa-icon>
      </div>
      <div class="p-col-1">
        <fa-icon icon="edit" class="clickable" (click)="editContact()"></fa-icon>
      </div>
    </header>
    <section class="p-grid p-justify-center">
      <figure class="p-col-4">
        <img class="p-col-fixed small-image" src="{{ contact.pictureUrl }}" alt="Contact image" />
      </figure>
      <div class="p-col-8 p-col-align-center name-header">
        {{ name }}
      </div>
    </section>
    <app-divider></app-divider>
    <section class="p-grid">
      <div class="p-col-1 p-offset-1">
        <fa-icon icon="envelope" class="label-icon"></fa-icon>
      </div>
      <span class="p-col-10 label">email</span>
      <span class="p-col-10 p-offset-2  email">{{ contact.email }}</span>
      <div class="p-col-1 p-offset-1">
        <fa-icon icon="phone" class="label-icon"></fa-icon>
      </div>
      <span class="p-col-10 label">numbers</span>
      <div class="p-col-10 p-offset-2">
        <app-phone-numbers
          class="p-col-10 phone-numbers"
          [phoneNumbers]="contact.phoneNumbers"
          [colLabel]="2"
          [colPhone]="8"
        ></app-phone-numbers>
      </div>
    </section>
  </article>
</ng-template>
