<form *ngIf="contactForm" [formGroup]="contactForm" (ngSubmit)="saveContact()">
  <div class="p-grid">
    <div class="p-col-4"></div>
    <div class="p-col-5">
      <section class="p-grid p-justify-between name-header">
        <div class="p-col-10 clickable">
          <fa-icon icon="arrow-left" [routerLink]="['/']"></fa-icon>
        </div>
        <div class="p-col-1 flex-align-column-end clickable">
          <fa-icon icon="trash-alt" (click)="displayDialog = true"></fa-icon>
        </div>
      </section>
      <app-divider></app-divider>
      <section>
        <div class="p-lg-6 p-col-sm-12">
          <app-label icon="user">first name</app-label>
        </div>
        <div class="p-lg-6 p-col-sm-12">
          <input type="text" placeholder="First Name" formControlName="firstName" />
        </div>
      </section>
      <app-divider></app-divider>
      <div class="p-lg-6 p-col-sm-12">
        <app-label icon="user">last name</app-label>
      </div>
      <div class="p-lg-6 p-col-sm-12">
        <input type="text" placeholder="Last Name" formControlName="lastName" />
      </div>
      <app-divider></app-divider>
      <div class="p-lg-6 p-col-sm-12">
        <app-label icon="envelope">email</app-label>
      </div>
      <div class="p-lg-6 p-col-sm-12">
        <input type="text" placeholder="Email" formControlName="email" />
      </div>
      <app-divider></app-divider>
      <div class="p-lg-6 p-col-sm-12">
        <app-label icon="phone">numbers</app-label>
      </div>
      <div formArrayName="phoneNumbers">
        <div class="p-grid" *ngFor="let phone of phoneNumbers.controls; let i = index" [formGroupName]="i">
          <div class="p-sm-12 p-lg-6">
            <input type="text" class="p-col" placeholder="Number" formControlName="number" />
          </div>
          <div class="p-sm-10 p-lg-5">
            <input type="text" class="p-col" placeholder="Label" formControlName="label" />
          </div>
          <div class="p-sm-2 p-lg-1 flex-align-column-center ">
            <button type="button" (click)="deletePhoneNumber(i)" [disabled]="phoneNumbers.length === 1" class="round-btn delete">
              <fa-icon icon="times"></fa-icon>
            </button>
          </div>
        </div>
        <div class="p-sm-2 p-lg-1">
          <button (click)="addPhoneNumber(i)" type="button" class="round-btn add">
            <fa-icon icon="plus"></fa-icon>
          </button>
        </div>
      </div>
      <div class="p-grid p-justify-between">
        <button type="button" class="p-lg-3 p-sm-5 cancel-button btn cancel-btn" (click)="navigateToContactList()">
          Cancel
        </button>
        <button class="p-lg-3 p-sm-5 btn confirm-btn" type="submit" [disabled]="!contactForm.valid">
          Save
        </button>
      </div>
    </div>
  </div>
</form>

<app-confirm-dialog [displayDialog]="displayDialog" (confirmed)="deleteContact()" (canceled)="deleteCanceled()"></app-confirm-dialog>
