<form *ngIf="contactForm" [formGroup]="contactForm" (ngSubmit)="saveContact()">
  <div class="p-grid">
    <div class="p-col-4 flex-align-row-end">
      <app-profile-picture-upload fxHide="true" fxShow.gt-sm [pictureUrl]="pictureUrl.value"></app-profile-picture-upload>
    </div>
    <div class="p-col-12 p-lg-5">
      <section class="p-grid p-justify-between name-header">
        <div class="p-col-10 clickable">
          <fa-icon icon="arrow-left" [routerLink]="['/']"></fa-icon>
        </div>
        <div *ngIf="editMode" class="p-col-1 flex-align-column-end clickable">
          <fa-icon icon="trash-alt" (click)="displayDialog = true"></fa-icon>
        </div>
      </section>
      <section fxHide="true" fxShow.lt-md>
        <app-divider [color]="'#bec7c6'"></app-divider>
        <div class="p-col-12 flex-align-row-center">
          <app-profile-picture-upload [pictureUrl]="pictureUrl.value"></app-profile-picture-upload>
        </div>
      </section>
      <app-divider></app-divider>
      <section>
        <div class="p-lg-6 p-col-12">
          <app-label icon="user">full name</app-label>
        </div>
        <div class="p-lg-6 p-col-12">
          <input [ngClass]="" type="text" placeholder="Full Name" formControlName="fullName" />
        </div>
      </section>
      <app-divider></app-divider>
      <div class="p-lg-6 p-col-12">
        <app-label icon="envelope">email</app-label>
      </div>
      <div class="p-lg-6 p-col-12">
        <input type="text" placeholder="Email" formControlName="email" />
      </div>
      <app-divider></app-divider>
      <div class="p-lg-6 p-col-12">
        <app-label icon="envelope">picture url</app-label>
      </div>
      <div class="p-lg-6 p-col-12">
        <input type="text" placeholder="Picture URL" formControlName="pictureUrl" />
      </div>
      <app-divider></app-divider>
      <div class="p-lg-6 p-col-12">
        <app-label icon="phone">numbers</app-label>
      </div>
      <div formArrayName="phoneNumbers">
        <div class="p-grid" *ngFor="let phone of phoneNumbers.controls; let i = index" [formGroupName]="i">
          <div class="p-col-12 p-lg-6">
            <input type="text" class="p-col" placeholder="Number" formControlName="number" />
          </div>
          <div class="p-col-10 p-lg-5">
            <input type="text" class="p-col" placeholder="Label" formControlName="label" />
          </div>
          <div class="p-col-2 p-lg-1 flex-align-column-center">
            <button type="button" (click)="deletePhoneNumber(i)" class="round-btn delete">
              <fa-icon icon="times"></fa-icon>
            </button>
          </div>
        </div>
        <div class="p-grid" [ngClass]="{ disabled: !contactForm.valid }">
          <div class="p-col-3 p-lg-1">
            <button (click)="addPhoneNumber(i)" [disabled]="!phoneNumbers.valid" type="button" class="round-btn add">
              <fa-icon icon="plus"></fa-icon>
            </button>
          </div>
          <div class="p-col-9 p-lg-11 flex-align-column-center">
            <span class="primary-color">Add number</span>
          </div>
        </div>
      </div>
      <div class="p-grid p-justify-between">
        <button type="button" class="p-lg-3 p-col-5 btn cancel-btn" (click)="navigateToContactList()">
          Cancel
        </button>
        <button
          class="p-lg-3 p-col-5 btn confirm-btn"
          type="submit"
          [disabled]="!contactForm.valid"
          [ngClass]="{ disabled: !contactForm.valid }"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</form>

<app-confirm-dialog [displayDialog]="displayDialog" (confirmed)="deleteContact()" (canceled)="deleteCanceled()"></app-confirm-dialog>
