app-contact-card {
  & article {
    color: $secondaryColor;
    border: solid 3px $secondaryColorLight;
    box-shadow: none;

    fa-icon {
      cursor: pointer;
    }
  }

  .name {
    font-weight: bold;
    font-size: $largeFontSize;
  }

  .big-picture {
    height: $profilePictureSize;
    width: $profilePictureSize;
  }

  .small-picture {
    height: $profilePictureSize / 2;
    width: $profilePictureSize / 2;
  }

  .new-contact {
    height: 100%;
    border: 3px dashed $primaryColorLight;
    border-radius: 5px;
    color: $primaryColor;
  }

  .new-icon {
    padding-bottom: 0px;
    font-size: 30px;
  }

  .new-text {
    padding-top: 0px;
  }
}
