app-contact-details {
  & article {
    & figure {
      margin: 0;
    }

    & img.big-image {
      height: $profilePictureSize * 1.5;
      width: $profilePictureSize * 1.5;
    }

    & img.small-image {
      height: $profilePictureSize / 1.5;
      width: $profilePictureSize / 1.5;
    }
  }

  .phone-numbers {
    padding: 0px;
    font-size: $mediumFontSize;
  }

  .email {
    font-size: $mediumFontSize;
  }

  .right {
    text-align: right;
  }

  .name-header {
    font-size: $largeFontSize;
    font-weight: bold;
  }

  .small-header {
    border-bottom: 1px solid $secondaryColor;
  }
}
