body {
  color: $secondaryColor;
  font-family: 'Roboto', sans-serif;

  .p-grid {
    margin: 0px;
  }

  .ui-card {
    color: $secondaryColor;
    border: solid 1px $secondaryColor;
    box-shadow: none;

    fa-icon {
      cursor: pointer;
    }
  }

  img {
    border-radius: 50%;
  }

  .clickable {
    cursor: pointer;
  }

  input {
    height: 60px;
    width: 100%;
    border: none;
    border: solid 1px $secondaryColor;
    border-radius: 10px;
    outline: none;
    padding-left: 5px;
  }

  input:focus {
    border: none;
    border: solid 1px $primaryColor;
    border-radius: 10px;
    outline: 0 none;
  }

  input::placeholder {
    color: lightgray;
    padding-left: 5px;
  }

  button {
    outline: none;
  }
  button:active:focus {
    border: solid;
  }
}

.btn {
  border: none;
  border-radius: 15px;
  color: white;
  height: 35px;
  padding: 0px 20px;
  &.cancel-btn {
    background-color: $secondaryColor;
  }

  &.confirm-btn {
    background-color: $primaryColor;
  }
}

.round-btn {
  background-color: transparent;
  border-radius: 50%;
  border: solid;
  height: 40px;
  width: 40px;

  &.delete {
    color: $secondaryColor;
  }

  &.add {
    color: $primaryColor;
  }
}

.primary-color {
  color: $primaryColor;
}

.secondary-color {
  color: $secondaryColor;
}
