$baseFontSize: 16px;

$primaryColor: #36a1ac;
$primaryColorLight: lighten($primaryColor, 20%);
$secondaryColor: #bec7c6;
$secondaryColorLight: lighten($secondaryColor, 20%);

$profilePictureSize: 100px;
